<div class="container mt-5">
    <div class="row">
        <div class="col-8">
            <app-cdk-stepper [linearOptionSelected]="true" #appStepper>
                <cdk-step [label]="'Client Address'" [completed]="(billingForm.get('addressForm')).valid">
                     <app-billing-address [billingForm]="billingForm"></app-billing-address>
                </cdk-step>
                <cdk-step [label]="'Shipping options'" [completed]="(billingForm.get('shippingForm')).valid">
                     <app-billing-shippingoption [billingForm]="billingForm"></app-billing-shippingoption>
                </cdk-step>
                <cdk-step [label]="'Payment Options'" [completed]="(billingForm.get('paymentForm')).valid">
                     <app-billing-paymentoption [billingForm]="billingForm"></app-billing-paymentoption>
                </cdk-step>
                <cdk-step [label]="'Basket Summary'">
                     <app-billing-ordersummary [billingForm]="billingForm" [appStepper]="appStepper"></app-billing-ordersummary>
                </cdk-step>
                <cdk-step [label]="'Stripe Payments'">
                     <app-billing-stripe [billingForm]="billingForm"></app-billing-stripe>
                </cdk-step>
            </app-cdk-stepper>
       </div>
        <div class="col-4">
            <app-order-sum></app-order-sum>
        </div>
    </div>
</div>