<div class="container" style="margin-top: 95px;">
    <div class="row">
        <div class="col-6">
            <img src="{{kidActivity.picture || './assets/kidactivity.jpg'}}" alt="{{kidActivity.name}}" 
            class="zagi img-fluid w-100">
        </div>
        <div class="col-6">
            <div class="wrapper">
                <div *ngIf="kidActivity.videoClip">
                    <iframe
                      width="560"
                      height="357"
                      [src]="videoClipURL"
                      frameborder="0"
                      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                      allowfullscreen
                    >
                    </iframe>
                  </div>            
            </div>
        </div>
    </div>
    <div>
        <h4 class="mt-3">Description:</h4>
        <p>{{kidActivity?.description}}</p> 
       </div>
</div>
