<div class="container" style="margin-top: 100px; margin-bottom: 100px">
    <div class="d-flex justify-content-center mt-5">
      <div class="col-6">
        <form
          [formGroup]="tagForm"
          (ngSubmit)="tagForm.valid && onSubmit()"
        >
          <h2 class="kiki text-center text-primary">Add Tag</h2>
          <app-text-input
          [formControl]="tagForm.controls['name']"
          [label]="'Tag Name'"
        ></app-text-input>
          <div
            style="margin-top: 50px; margin-bottom: 40px"
            class="form-group text-center"
          >
            <button
              [disabled]="!tagForm.valid"
              class="btn btn-success mr-2"
              type="submit"
            >
              Save
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  