<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a
      class="navbar-brand text-uppercase"
      style="margin-left: 40px"
      [routerLink]="['/']"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      >Home</a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNav"
      (click)="isCollapsed = !isCollapsed"
      [attr.aria-expanded]="!isCollapsed"
      aria-controls="navbarSupportedContent"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse"
      id="navbarNav"
      id="navbarSupportedContent"
      [collapse]="isCollapsed"
    >
      <ul class="navbar-nav mr-auto">
        <li class="peki nav-item">
          <a
            class="nav-link text-uppercase"
            routerLink="/birthdays"
            routerLinkActive="active"
            >Birthdays</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link text-uppercase"
            routerLink="/webshop"
            routerLinkActive="active"
            >Webshop</a
          >
        </li>
  
        <li class="nav-item">
          <a
            class="nav-link text-uppercase"
            routerLink="/activities"
            routerLinkActive="active"
            >Activities</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link text-uppercase"
            routerLink="/happyblogs"
            routerLinkActive="active"
            >HappyBlogs</a
          >
        </li>
        <ng-container>
        <div class="dropdown" dropdown>
          <a
            class="pero nav-link text-uppercase dropdown-toggle text-white"
            dropdownToggle
            (click)="(false)"
            routerLinkActive="active"
            >Info</a
          >
          <div class="dropdown-menu" *dropdownMenu>
            <a 
            routerLink="/locations"
            class="dropdown-item">
              <i class="fa fa-info mr-4"></i>Locations</a
            >
            <div class="dropdown-divider"></div>
            <a routerLink="/locations/message" class="dropdown-item">
              <i class="fa fa-envelope mr-3"></i>Contact Us</a
            >
          </div>
        </div>
      </ng-container>
      <ng-container
        *ngIf="
        (currentUser$ | async) &&
        (currentUser$ | async)?.roles?.includes('Admin') || (currentUser$ | async)?.roles?.includes('Manager')">          
          <div class="dropdown" dropdown>
            <a
              class="pero nav-link text-uppercase dropdown-toggle text-white"
              dropdownToggle
              (click)="(false)"
              routerLinkActive="active"
              >More</a
            >
            <div class="dropdown-menu" *dropdownMenu>
              <a
                routerLink="/orderschildrenitems"
                class="dropdown-item"
              >
                <i class="fa fa-first-order mr-3"></i>Children Items Orders</a
              >
              <div class="dropdown-divider"></div>
              <a
                routerLink="/ordersbirthdays"
                class="dropdown-item"
              >
                <i class="fa fa-first-order mr-3"></i>Birthdays Orders</a
              >
              <div class="dropdown-divider"></div>
              <a
              routerLink="/blogs"
              class="dropdown-item"
            >
              <i class="fa fa-list mr-3"></i>Blogs</a
            >
              <a
              routerLink="/branches"
              class="dropdown-item"
            >
              <i class="fa fa-list mr-3"></i>Branches</a
            >
              <a
              routerLink="/birthdaypackages"
              class="dropdown-item"
            >
              <i class="fa fa-list mr-3"></i>Birthday Packages</a
            >
              <a
                routerLink="/childrenitems"
                class="dropdown-item"
              >
                <i class="fa fa-list mr-3"></i>Children Items</a
              >
              <a
              routerLink="/kidactivities"
              class="dropdown-item"
            >
              <i class="fa fa-list mr-3"></i>Kid's Activities</a
            >
              <div class="dropdown-divider"></div>
              <a
              routerLink="/categories"
              class="dropdown-item"
            >
              <i class="fa fa-list mr-3"></i>Categories</a
            >
            <a
            routerLink="/childrenitemwarehouses"
            class="dropdown-item"
          >
            <i class="fa fa-list mr-3"></i>Children Item Warehouses</a
          >
              <a
                routerLink="/discounts"
                class="dropdown-item"
              >
                <i class="fa fa-list mr-3"></i>Discounts</a
              >
              <a
                routerLink="/manufacturers"
                class="dropdown-item"
              >
                <i class="fa fa-list mr-3"></i>Manufacturers</a
              >
              <a
                routerLink="/messages"
                class="dropdown-item"
              >
                <i class="fa fa-list mr-3"></i>Messages</a
              >
              <a
                routerLink="/orderstatuses"
                class="dropdown-item"
              >
                <i class="fa fa-list mr-3"></i>Order Statuses</a
              >
              <a
              routerLink="/paymentoptions"
              class="dropdown-item"
            >
              <i class="fa fa-list mr-3"></i>Payment Options</a
            >
            <a
            routerLink="/shippingoptions"
            class="dropdown-item"
          >
            <i class="fa fa-list mr-3"></i>Shipping Options</a
          >
              <a
                routerLink="/tags"
                class="dropdown-item"
              >
                <i class="fa fa-list mr-3"></i>Tags</a
              >
              <a
                routerLink="/warehouses"
                class="dropdown-item"
              >
                <i class="fa fa-list mr-3"></i>Warehouses</a
              >
              <div class="dropdown-divider"></div>
              <a
              routerLink="/statistics"
              class="dropdown-item"
            >
              <i class="fa fa-bar-chart mr-3"></i>Statistics</a
            >

            </div>
          </div>
        </ng-container>
      </ul>
      <div routerLink="/basket" class="position-relative">
        <i class="fa fa-shopping-cart fa-2x mr-5 text-dark"></i>
        <div *ngIf="(basket$ | async) as basket" class="cart-carry">{{basket.basketChildrenItems.length}}</div>
       </div>
      <ng-container *ngIf="(currentUser$ | async) === null">
        <div>
          <a routerLink="/account/login" class="btn btn-outline-secondary mr-2">Login</a>
        <a routerLink="/account/register" class="btn btn-outline-secondary mr-3">Sign up</a>  
        <button class="btn btn-outline-secondary mr-3" (click)="externalLogin()">
          <div class="center-align">
            <div>
              <img width="20px" alt="Google sign-in" 
                  src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" />
          </div>
        </div>
          </button>  
  
        </div>
      </ng-container>
      <ng-container *ngIf="currentUser$ | async">
        <div class="dropdown mr-5" dropdown>
          <a class="dropdown-toggle text-white" style="cursor: pointer" dropdownToggle  
          (click)="(false)" routerLinkActive="active">
            <strong>Welcome {{(currentUser$ | async).displayName | titlecase}}</strong>  
          </a>
          <div class="dropdown-menu" *dropdownMenu>
            <a
              routerLink="/basket"
              class="dropdown-item"
            >
              <i class="fa fa-shopping-cart mr-3"></i> Basket Info</a
            >
            <a
              routerLink="/orderschildrenitemsclient"
              class="dropdown-item"
            >
              <i class="fa fa-history mr-3 ml-1"></i>Orders Info </a
            >
            <ng-container
            *ngIf="
            (currentUser$ | async) &&
            (currentUser$ | async)?.roles?.includes('Admin')" 
            >
            <div class="dropdown-divider"></div>
            <a
            routerLink="/userslist"
            class="dropdown-item"
          >
            <i class="fa fa-user mr-3"></i>Users</a
          >
            <div class="dropdown-divider"></div>
            <a
            routerLink="/userslist/addmanager"
            class="dropdown-item"
          >
            <i class="fa fa-user mr-3"></i>Add Manager</a
          >
            </ng-container>
            <div class="dropdown-divider"></div>
            <a 
            (click)="logout()"
            routerLink="/account/login"
            routerLinkActive="active"
            class="dropdown-item"
            >
              <i class="fa fa-sign-out mr-3 ml-1"></i>Logout</a
            >
          </div>
        </div>
      </ng-container>
    </div>
  </nav>
  