<header id="home-section" class="mb-4">
    <div class="dark-overlay">
      <div class="home-inner container" style="margin-top: 100px">
        <div class="row">
          <div class="col-lg-12 d-none d-lg-block mt-5">
            <h1 class="display-4 text-light text-center">
              Welcome to <strong> Happykids </strong>
            </h1>
            <div>
                <div class="p-4 align-self-end text-light text-center  mt-5">
                  Our mission is to make every kid that visits our locations happy
                </div>
              </div>
            <div>
                <div class="p-4 align-self-end text-light text-center">
                  Explore our site and find the type of service or product you want for your child
                </div>
                <div class="p-4 align-self-end text-light text-center">
                  Hope you and your kids will enjoy this exciting journey!
                </div>
              </div>
          </div>
          <div class="col-lg-4 mt-5"></div>
        </div>
      </div>
    </div>
  </header>
  